[Desktop Entry]
Name=FreeTube
Comment=Открытый проигрыватель ютуба, созданный с учётом скрытности.
GenericName=FreeTube
Exec=/app/bin/run.sh %u
Icon=io.freetubeapp.FreeTube
Type=Application
StartupNotify=true
StartupWMClass=FreeTube
Categories=GNOME;GTK;Utility;
MimeType=x-scheme-handler/freetube;
