[Desktop Entry]
Name=FreeTube
Comment=An open-source YouTube app for privacy
Comment[ar]=تطبيق يوتيوب مفتوح المصدر للخصوصية
Comment[be]=Праграма YouTube з адкрытым зыходным кодам для забеспячэння прыватнасці
Comment[bg]=Приложение за YouTube с отворен код за поверителност
Comment[ca]=Una aplicació de YouTube de codi obert per a la privadesa
Comment[cs]=Open-source aplikace YouTube pro ochranu soukromí
Comment[de]=Eine Open-Source-YouTube-App für den Datenschutz
Comment[el]=Μια εφαρμογή YouTube ανοιχτού κώδικα για προστασία απορρήτου
Comment[en_AU]=An open-source YouTube app for privacy
Comment[en_GB]=An open-source YouTube app for privacy
Comment[en]=An open-source YouTube app for privacy
Comment[es]=Una aplicación de YouTube de código abierto para la privacidad
Comment[fi]=Avoimen lähdekoodin YouTube-sovellus yksityisyyden suojaamiseksi
Comment[fr]=Une application YouTube open source pour la confidentialité
Comment[he]=אפליקציית YouTube בקוד פתוח לשמירה על פרטיות
Comment[hr]=YouTube aplikacija otvorenog koda za privatnost
Comment[hu]=Nyílt forráskódú YouTube-alkalmazás az adatvédelem érdekében
Comment[id]=Aplikasi YouTube sumber terbuka untuk privasi
Comment[is]=Opinn YouTube app fyrir friðhelgi einkalífsins
Comment[it]=Un'app YouTube open source per la privacy
Comment[ja]=プライバシー保護のためのオープンソースのYouTubeアプリ
Comment[kn]=ಗೌಪ್ಯತೆಗಾಗಿ ಓಪನ್ ಸೋರ್ಸ್ YouTube ಅಪ್ಲಿಕೇಶನ್
Comment[ko]=개인 정보 보호를 위한 오픈 소스 YouTube 앱
Comment[lt]=Atvirojo kodo „YouTube“ programėlė privatumui užtikrinti
Comment[lv]=Atvērtā koda YouTube lietotne privātuma nodrošināšanai
Comment[nl]=Een open-source YouTube-app voor privacy
Comment[no_NY]=En YouTube-app med åpen kildekode for personvern
Comment[pl]=Aplikacja YouTube z otwartym kodem źródłowym zapewniająca prywatność
Comment[pt_BR]=Um aplicativo de código aberto do YouTube para privacidade
Comment[pt]=Uma aplicação de código aberto do YouTube para privacidade
Comment[ro]=O aplicație YouTube open-source pentru confidențialitate
Comment[ru]=Приложение YouTube с открытым исходным кодом для обеспечения конфиденциальности
Comment[sk]=Aplikácia YouTube s otvoreným zdrojovým kódom pre ochranu súkromia
Comment[sl]=Odprtokodna aplikacija YouTube za zasebnost
Comment[sq]=Një aplikacion YouTube me burim të hapur për privatësi
Comment[sr]=YouTube апликација отвореног кода за приватност
Comment[sv_SE]=En YouTube-app med öppen källkod för integritet
Comment[ta]=தனியுரிமைக்கான ஓப்பன் சோர்ஸ் YouTube பயன்பாடு
Comment[tr]=Gizlilik için açık kaynaklı bir YouTube uygulaması
Comment[uk]=Додаток YouTube з відкритим кодом для забезпечення конфіденційності
Comment[vi]=Một ứng dụng YouTube nguồn mở bảo vệ quyền riêng tư
Comment[zh_CN]=一款保护隐私的开源 YouTube 应用
Comment[zh_TW]=一款保護隱私的開源 YouTube 應用
GenericName=FreeTube
Exec=/app/bin/run.sh %u
Icon=io.freetubeapp.FreeTube
Type=Application
StartupNotify=true
StartupWMClass=FreeTube
Categories=GNOME;GTK;AudioVideo;Network;Utility;
MimeType=x-scheme-handler/freetube;
