[Desktop Entry]
Name=FreeTube
Name[hu]=SzabadCső
Comment=An open-source YouTube app for privacy
Comment[hu]=Nyílt forráskódú YouTube-alkalmazás az adatvédelem érdekében
GenericName=FreeTube
GenericName[hu]=SzabadCső
Exec=/app/bin/run.sh %u
Icon=io.freetubeapp.FreeTube
Type=Application
StartupNotify=true
StartupWMClass=FreeTube
Categories=GNOME;GTK;Utility;
MimeType=x-scheme-handler/freetube;
